@model LanguageBuilder.Models.UserWord

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UserWord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DictWord.word_gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DictWord.word_gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastReview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastReview)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextReview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextReview)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserWordID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
