@model LanguageBuilder.Models.Words

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Words</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.german_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.german_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.english_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.english_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.word_gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.word_gender)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
