@model IEnumerable<LanguageBuilder.Models.Words>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.german_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.english_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.word_gender)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.german_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.english_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.word_gender)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
